/*
!/.gitignore
!/early-init.el
!/init.el
!/modules/
!/modules/**
!/elisp/
!/elisp/**
!/elisp/**/*.el
!/local/**/*.el
!/local/**/*.md
!/local/*.el
!/local/*.md
!/local/**
!/local/
!/rass-presets/
!/rass-presets/*
!/rass-presets/**
/elisp/**/#*#
/elisp/#*#
/elisp/**/*.elc
/elisp/**/*~

